<% include header.ejs %>

<p>Know yourself before knowing others</p>
<div class="info">
	<table>
		<% if(locals.userinfo) { %>
		<tr><td colspan=2 class='title'>Profile Information</td></tr>
		<tr><td>Username   </td><td><%=userinfo.username%></td></tr>
		<tr><td>ID   </td><td><%=userinfo._id%></td></tr>
		<tr><td>Encrypted-Password   </td><td><%=userinfo.password%></td></tr>
		<tr><td>Email   </td><td><%=userinfo.email%></td></tr>
		<tr><td>Created Date   </td><td><%=userinfo.date%></td></tr>
		<tr><td>Visited Pages Count   </td><td><% for(var key in userinfo.visitedPages){ %>
																							<%=key+' : '+userinfo.visitedPages[key] %> <br>
																								<%} %></td></tr>
		<% } %>
	</table>
	<div class="accounts"><% include profile_buttons.ejs %></div>
  <form method="POST" action="new_pass" onsubmit="return checkform()">
    <fieldset>
      <legend>Change password</legend>
      <input id="p1" name="password" type="password" placeholder="New password..." onkeyup='checkPass()' required />
      <input id="p2" name="check" type="password" placeholder="Again..." onkeyup='checkPass()' required />
      <input id="jwt" name="token" type="hidden"/>
      <input id="user" name="user" type="hidden"/>
      <input type="submit" />  
    </fieldset>
    
  </form>
</div>
<script>
	function getUser(){var user = <%-JSON.stringify(user)%>;return(user);	}
  let getJWT = () => "<%=token%>";
</script>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->

<% include footer.ejs %>
